.my-card {
  box-shadow: var(--shadow);
  margin: 2rem;
  border-radius: 0.5rem;
  min-width: 200px;
  flex: 1;
}

.my-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
  flex-wrap: wrap;
}

.my-card p {
  margin: 0;
}
