.my-card {
  box-shadow: var(--shadow);
  border-radius: 0.5rem;
  min-width: 200px;
  flex: 1;
}

.my-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem 0;
}

.my-card p {
  margin: 0;
}
