@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --theme: #2970ff;
  --black: #000;
  --white: #fff;
  --shadow: 0px 0px 30px 8px rgba(227, 227, 227, 0.75);
}
* {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  font-family: "Montserrat", sans-serif;
}

.no-transactions-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  margin-bottom: 2rem;
  text-align: center;
}

.no-transactions-image {
  width: 80%;
  max-width: 400px;
  margin: 4rem;
}

.no-transactions-text {
  font-size: 1.2rem;
}

.container {
  padding: 0 40px;
  margin: auto;
}

/* For smaller screens */
@media (max-width: 1024px) {
  .container {
    padding: 0 5px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 30px;
  }
  .no-transactions-image {
    width: 60%; /* Reduce image size on medium screens */
    margin: 2rem;
  }

  .no-transactions-text {
    font-size: 1rem; /* Reduce font size for smaller screens */
  }
}

/* For extra small screens */
@media (max-width: 480px) {
  .container {
    padding: 0 16px;
  }
  .no-transactions-image {
    width: 50%; /* Further reduce image size for mobile screens */
    margin: 1rem;
  }

  .no-transactions-text {
    font-size: 0.9rem; /* Further reduce font size for mobile */
  }
}
